<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="container">
    <p>
      BlaBlaCar is the world's leading long distance carpooling service, connecting drivers with empty seats to people travelling the same way.
    </p>
    <div class="alert alert-success">
      No problems at BlablaMove
    </div>
    <ngx-charts-line-chart [results]="data" [view]="view"
                           [scheme]="colorScheme"
                           [gradient]="gradient"
                           [xAxis]="showXAxis"
                           [yAxis]="showYAxis"
                           [legend]="showLegend"
                           [showXAxisLabel]="showXAxisLabel"
                           [showYAxisLabel]="showYAxisLabel"
                           [yAxisLabel]="yAxisLabel"
                           [autoScale]="autoScale"
                           [yScaleMin]="yScaleMin"
                           [yScaleMax]="yScaleMax"
                           [timeline]="timeline"></ngx-charts-line-chart>
    <a class="btn btn-danger"><i class="fas fa-thumbs-down"></i> I have a problem with BlablaMove</a>
  </div>
</div>
