<aol-map [width]="'500px'" [height]="'300'">
  <aol-view [zoom]="6">
      <aol-coordinate [x]="7.289429" [y]="43.675819" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>
  <aol-layer-tile>
      <aol-source-osm></aol-source-osm>
  </aol-layer-tile>
  <aol-layer-vector>
    <aol-source-vector>
        <aol-feature>
            <aol-geometry-point>
                <aol-coordinate [x]="7.289429" [y]="43.675819" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-geometry-point>
            <aol-style>
                <aol-style-circle [radius]="5">
                    <aol-style-stroke [color]="'green'" [width]="width"></aol-style-stroke>
                    <aol-style-fill [color]="'green'"></aol-style-fill>
                </aol-style-circle>
            </aol-style>
        </aol-feature>
    </aol-source-vector>
  </aol-layer-vector>
</aol-map>